.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    height: 100px;
    background-color: blue;
}
.footer-content{
    color: white;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

